<header class="header fixed">
  <div class="main-content">
    <div class="body">
      <img src="/img/Logo-no-slogan 1.svg" alt="Foodzie Logo" class="logo" />
      <nav class="nav">
        <ul>
          <li class="active"><a href="#!" class="nav-link active">Home</a></li>
          <li><a href="#!" class="nav-link">Browse Menu</a></li>
          <li><a href="#!" class="nav-link">Restaurants</a></li>
          <li><a href="#!" class="nav-link">Track Order</a></li>
          <li><a href="#!" class="nav-link">Support</a></li>
        </ul>
      </nav>
      <a href="#!" class="login-signup">Login/Signup</a>
    </div>
  </div>
</header>